{% extends 'common.html' %}

{% block menu %}
    {% include 'admin_menu.html' %}
{% endblock %}

{% block main_body %}
    <form action="{% url 'save_product_details' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table align="center" width="350">
    <tr>
        <th style="text-align: center;color: orange;background-color: lavender;font-size: 20px;padding: 15px">
            Add Products
        </th>
    </tr>
    <tr>
        <th>
            <input type="text" class = "form-control" placeholder="Name" required name="p1">
        </th>
    </tr>
    <tr>
        <th>
            <input type="number" class = "form-control" placeholder="Price" required name="p2">
        </th>
    </tr>
     <tr>
        <th>
            <input type="number" class = "form-control" placeholder="Quantity" required name="p3">
        </th>
    </tr>
     <tr>
        <th>
            <label style="color: blue"> Choose Image Only :</label>
            <input type="file" required name="p4">
        </th>
    </tr>
    <tr>
        <th style="padding: 8px;text-align: center">
            <button type="submit" class="btn btn-primary"> Save </button>
        </th>
    </tr>
    </table>
    </form>
{% endblock %}